# Rider options
.idea/
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
/src/ComputationApi/obj/
/src/ComputationApi.UnitTests/TestResults/
/src/ComputationApi.IntegrationTests/TestResults/
/ComputationApi.sln.DotSettings.user

# Visual Studio 2015 cache/options directory
.vs/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
nuget.config
